@font-face {
  font-family: Sd-font-main;
  src: url(.\assets\Poppins-Regular.ttf);
}

.sd-font-main {
  font-family: Sd-font-main;
}
html{
  font-family: sd-font-main;
}
::-webkit-scrollbar {
  display: none;
}

